.cabecera {
    background: rgba(0, 0, 0, 0.5) url(../images/acercade.jpg);
    height: 780px;
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
}

.encabezado {
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

.encabezado h1 {
    font-size: 70px;
    font-weight: 800;
    letter-spacing: 5px;
    padding: 20px;
}

.encabezado p {
    font-size: 22px;
    font-weight: 500;
    line-height: 1.5;
    width: 50%;
}


section {
    width: 80%;
    margin: 30px auto;
}

.acercade h2 {
    color: #488eac;
    font-weight: 800;
    letter-spacing: 2px;
    font-size: 50px;
}

.acercade p {
    font-size: 21px;
    text-align: justify;
    margin: 28px 0px;
    line-height: 1.3;
}

.contenedor {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.bloque {
    margin: 25px 0px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 6px;
}

.texto h2 {
    color: #488eac;
    letter-spacing: 1px;
    font-weight: 800;
    margin: 5px 0px;
    font-size: 30px;
}

.texto p {
    font-size: 20px;
    padding: 10px 0px;
    line-height: 1.3;
    text-align: justify;
}

.texto {
    max-width: 600px;
    padding: 35px;
}

.imagen {
    max-width: 600px;
}

.imagen img {
    width: 100%;
    transition: .5s;
}

.imagen img:hover {
    opacity: .8;
}