.bg-catedral {
    background: rgba(0, 0, 0, 0.5) url(../images/imagen7.png);
}

.bg-circuito-magico {
    background: rgba(0, 0, 0, 0.5) url(../images/circuito.jpg);
}

.bg-miraflores {
    background: rgba(0, 0, 0, 0.4) url(../images/mirafloresbanner.avif);
}

.bg-museo-larco {
    background: rgba(0, 0, 0, 0.4) url(../images/museolarcobanner.avif);
}

.bg-plaza-armas {
    background: rgba(0, 0, 0, 0.4) url(../images/plazabanner.jpg);
}

.bg-plaza-san-martin {
    background: rgba(0, 0, 0, 0.4) url(../images/plazasanmartinbanner.jpg);
}

.bg-turismo-cultural {
    background: rgba(0, 0, 0, 0.5) url(../images/paquetecultural.jpg);
}

.bg-turismo-lujo {
    background: rgba(0, 0, 0, 0.5) url(../images/paquetelujo.jpg);
}

.bg-turismo-nocturno {
    background: rgba(0, 0, 0, 0.5) url(../images/paquetenocturno.png);
}

.cabecera {
    height: 780px;
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
}

.encabezado {
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

.encabezado h1 {
    font-size: 70px;
    font-weight: 800;
    letter-spacing: 5px;
    padding: 20px;
}

.encabezado p {
    font-size: 22px;
    font-weight: 500;
    line-height: 1.5;
}

.encabezado--normal {
    width: 70%;
    margin: 0 auto;
}

.encabezado--compacto {
    width: 62%;
    margin: 0 auto;
}

main {
    margin: 20px auto;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main>h2 {
    font-size: 50px;
    color: brown;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 800;
    margin-bottom: 30px;
}

.contenedor1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.contenedor1 div {
    margin: 20px 40px;
}

.imagen {
    max-width: 650px;
}

.imagen img {
    width: 100%;
    border-radius: 20px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.8);
    padding: 10px;
    transition: 0.5s;
}

.texto {
    text-align: justify;
    max-width: 650px;
}

.texto p {
    font-size: 20px;
    line-height: 1.3;
    letter-spacing: 2px;
    text-align: justify;
    margin-bottom: 10px;
    font-weight: 500;
    width: 100%;
}

.contenedor2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 25px;
}

.datos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #771717;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    max-width: 750px;
    padding: 30px 8px;
    color: white;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3);
    transition: 0.4s;
}

.datos:hover {
    transform: translateY(-25px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

.datos h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.linea {
    width: 350px;
    height: 1px;
    background-color: #fff;
}

.datos p {
    margin-top: 20px;
    width: 86%;
    text-align: center;
}

.datos ul {
    margin-top: 20px;
    margin-bottom: 30px;
    list-style: none;
}

.datos ul li {
    margin: 13px;
    cursor: default;
}

.datos ul li i {
    margin-right: 10px;
}

.datos button {
    padding: 10px 20px;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    border: 1px solid #fff;
    background-color: #771717;
    transition: all 0.4s ease 0s;
}

.datos button:hover {
    color: #771717;
    background-color: #fff;
    cursor: pointer;
}

.contenedor2 figure {
    max-width: 700px;
    margin: 10px;
}

.contenedor2 figure img {
    width: 100%;
    border-radius: 20px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.8);
    padding: 10px;
    transition: 0.5s;
}

.contenedor2 figure figcaption {
    margin-top: 10px;
    font-size: 18px;
    text-align: center;
    cursor: default;
}

.fotos {
    margin-bottom: 40px;
    margin-top: 30px;
}

.fotos h2 {
    margin-top: 15px;
    color: brown;
    font-size: 50px;
    text-align: center;
    font-weight: 800;
    letter-spacing: 2px;
}

.fotos>div {
    display: flex;
    justify-content: center;
}

.galeria {
    display: flex;
    max-width: 1200px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    overflow: hidden;
}

.galeria img {
    border-radius: 20px;
    width: 400px;
    height: 300px;
    object-fit: cover;
    padding: 8px;
    transition: 0.5s;
}

main img:hover {
    opacity: 0.8;
}

.bloque {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
}

.foto {
    max-width: 650px;
    margin: 30px;
}

.foto img {
    width: 100%;
    border-radius: 20px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.8);
    padding: 10px;
    transition: 0.5s;
}

.text {
    text-align: justify;
    max-width: 650px;
    padding: 30px;
}

.text h2 {
    font-size: 35px;
    font-weight: 800;
    letter-spacing: 2px;
}

.text p {
    font-size: 20px;
    line-height: 1.3;
    letter-spacing: 1px;
    text-align: justify;
    margin-bottom: 10px;
    font-weight: 500;
    width: 100%;
}

.line {
    width: 100%;
    height: 2px;
    margin-top: 40px;
    background-color: silver;
}