body {
    background: rgba(0, 0, 0, 0.6) url(../images/reservar.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: darken;
}

.reservar {
    min-height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-reservar {
    width: 450px;
    color: white;
    border: 4px solid rgba(192, 192, 192, 0.37);
    background: rgba(0, 0, 0, .1);
    border-radius: 10px;
    padding: 38px 40px;
}

.form-reservar h1 {
    text-align: center;
    font-size: 38px;
    letter-spacing: 2px;
    margin-bottom: 5px;
}

.form-reservar .texto {
    text-align: center;
    font-size: 18px;
    margin-top: 23px;
    letter-spacing: 1px;
}